<section class="calculator_wrapper">
    <div class="calculator">
        <h2>ვალუტის კალკულატორი</h2>
        <div class="contentwrapper">
            <div class="form-group">
                <label for="fromCurrency">გაყიდვა:</label>
                <select id="fromCurrency" [(ngModel)]="fromCurrency" (ngModelChange)="convert()">
                    <option value="GEL">GEL - ქართული ლარი</option>
                    <option value="USD">USD - აშშ დოლარი</option>
                    <option value="EUR">EUR - ევრო</option>
                    <option value="GBP">GBP - დიდი ბრიტანეთის გირვანქა სტერლინგი</option>
                    <option value="CHF">CHF - შვეიცარული ფრანკი</option>
                </select>
            </div>
            <div class="form-group">
                <label for="toCurrency">ყიდვა :</label>
                <select id="toCurrency" [(ngModel)]="toCurrency" (ngModelChange)="convert()">
                    <option value="GEL">GEL - ქართული ლარი</option>
                    <option value="USD">USD - აშშ დოლარი</option>
                    <option value="EUR">EUR - ევრო</option>
                    <option value="GBP">GBP - დიდი ბრიტანეთის გირვანქა სტერლინგი</option>
                    <option value="CHF">CHF - შვეიცარული ფრანკი</option>
                </select>
            </div>
        </div>
        <div class="contentwrapper">
            <div class="form-group">
                <label for="amount">თანხა:</label>
                <input type="number" id="amount" [(ngModel)]="amount" (ngModelChange)="convert()" min="0">
            </div>
            <div class="form-group">
                <label for="bank">კურსი:</label>
                <select id="bank" [(ngModel)]="selectedBank" (ngModelChange)="convert()">
                    <option value="NBG">ოფიციალური კურსი</option>
                    <option value="NBG">საქართველოს ბანკი</option>
                    <option value="NBG">თიბისი ბანკი</option>

                </select>
            </div>
        </div>

        <div *ngIf="conversionResult !== null" class="result">
            <p>{{ amount }} {{ fromCurrency }} = {{ conversionResult }} {{ toCurrency }}</p>
        </div>
    </div>

</section>