<header>
    <div class="logo">
        <img src="assets/logo.PNG">
    </div>
    <div class="navigation_content">

        <nav class="Banks">

            <ng-container *ngIf="isLoggedIn">
                <div class="user-info-button">
                    <img src="assets/people-icon.jpg" style="width: 35px;" alt="User Image">
                    <span>{{ userName }}</span>

                </div>
                <div class="logutbtn">
                    <button class="sign-out-button" (click)="signOut()">გასვლა</button>
                </div>
            </ng-container>

        </nav>
    </div>

</header>