<div class="loader" *ngIf="loading"></div>

<div class="search_Section" [ngClass]="{'blur': loading}">

    <div class="card">
        <div class="bank_card" *ngIf="BogData">
            <div class="card_head">
                <img src="assets/bog.png">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ვალუტა</th>
                        <th>ოფიცალური კურსი</th>
                        <th>ყიდვა</th>
                        <th>გაყიდვა</th>
                        <th>ბოლო განახლება</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{BogData.ccy}}</td>
                        <td>{{UsdNbg_Rate}}</td>
                        <td>{{BogData.buyRate}}</td>
                        <td>{{BogData.sellRate}}</td>
                        <td>{{LastRefreshBog}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bank_card" *ngIf="TbcData">
            <div class="card_head">
                <img src="assets/tbc.png">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ვალუტა</th>
                        <th>ოფიცალური კურსი</th>
                        <th>ყიდვა</th>
                        <th>გაყიდვა</th>
                        <th>ბოლო განახლება</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{TbcData.currency}}</td>
                        <td>{{UsdNbg_Rate}}</td>
                        <td>{{TbcData.buy}}</td>
                        <td>{{TbcData.sell}}</td>
                        <td>{{LastRefreshTbc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="bank_card" *ngIf="ValutoData">
            <div class="card_head">
                <img src="assets/Valuto.png">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ვალუტა</th>
                        <th>ოფიცალური კურსი</th>
                        <th>ყიდვა</th>
                        <th>გაყიდვა</th>
                        <th>ბოლო განახლება</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ValutoData?.CcFrom}}</td>
                        <td>{{UsdNbg_Rate}}</td>
                        <td>{{ValutoData?.buy}}</td>
                        <td>{{ValutoData?.sell}}</td>
                        <td>{{LastRefreshValuto}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="chat-window">
    <div class="chat-header">
        <img src="assets/calculator.png" (click)="opencalculator()">
    </div>
</div>

<div class="calculator_popup" *ngIf="isOpen">
    <app-currency-calculator (closeCalculator)="closeCalculator()"></app-currency-calculator>
</div>