@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
}

.close img{
    cursor: pointer;
    width: 35px;
  }
  
  .close img:hover{
    cursor: pointer;
    width: 40px;
  }

.head{
    width: 100%;
    text-align: center;
    color: #274156;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.close{
    margin-right: 20px;
}
.head h2{
    margin-left: 20px;
}

.appointment{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.popup-body{
    font-family: 'FiraGO';

    background-color: #FFFFFF;
    width: 600px;
}
.card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.card-head h2 {
    color: #053354;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;

}


.card-head img{

    width: 30%;
}
.branch-info{
    font-family: 'FiraGO';
    color: #053354;

}

.make-appointment {
    font-family: 'FiraGO';
font-size: 16px;
    margin-bottom: 20px;
}

.make-appointment select {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-family: 'FiraGO';

}

.choose-service select {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'FiraGO';

}

.choose-service span {
    font-family: 'FiraGO';
    font-size: 16px;
    margin-right: 10px;
}
.confirm-appointment button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    align-self: center;
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #053354;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin: 1rem auto;
}

.confirm-appointment button:hover{
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;

    padding: 0.75rem 2rem;
}
