<div class="appointments-container">
    <h2>ჩემი ჯავშნები : </h2>
    <div class="filters">
        <button [class.active]="activeFilter === 'all'" (click)="filterAppointments('all')">ყველა</button>
        <button [class.active]="activeFilter === 'today'" (click)="filterAppointments('today')">დღეს</button>
        <button [class.active]="activeFilter === 'tomorrow'" (click)="filterAppointments('tomorrow')">ხვალ</button>
      </div>
    <hr>
    <div class="show-appointments" *ngIf="filteredAppointments.length > 0; else noAppointments">
        <div *ngFor="let appointment of filteredAppointments" class="appointment-item">
            <div class="branch-info">
                <div>
                    <strong>თარიღი:</strong> {{ appointment.date }}
                </div>
                <div>
                    <strong>დრო:</strong> {{ appointment.time }}
                </div>
                <div>
                    <strong>სერვისი:</strong> {{ appointment.service }}
                </div>

                <div>
                    <strong>მისამართი:</strong> {{ appointment.address }}, {{ appointment.city }}
                </div>
                <div>
                    <strong>სტატუსი: </strong>            <span [ngClass]="{
                        'pending-status': appointment.status === 1,
                        'approved-status': appointment.status === 2,
                        'declined-status': appointment.status === 0
                      }">
                          {{ getStatusText(appointment.status) }}
                        </span>
                </div>
            </div>
            <div class="branch-photo">
                <img [src]="appointment.photo" alt="Branch Image" class="branch-image">
            </div>
        </div>
    </div>
    <ng-template #noAppointments>
        <p>ჯავშანი არ მოიძებნა.</p>
    </ng-template>
</div>