@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
}


.admin-page{
    padding: 20px;
    min-height: 750px;
}

.admin-page h2{
    font-family: 'FiraGO';
    color: #274156;
    margin: 20px;

}
.user-info-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    gap: 10px;
    color: #000000;
  
    font-family: 'FiraGo';
  }
  

  .logout-btn {
    max-height:40px ;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap:30px
  }
  
  .sign-out-button {
    font-family: 'FiraGO';
font-size: 15px;
    padding: 10px 20px;
    background-color: #8f2424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .appointments {

    margin-top: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .appointment-card {

    background-color: #dae8fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .appointment-content {

    margin-bottom: 10px;
    font-family: 'FiraGO';
    display: flex;
    flex-direction: column;
    gap:30px

  }
  .details {
    height: 200px;
  }
  .status{
    margin-top: 20px;
  }

  .status p{
    margin-bottom: 0 auto;
  }

  .color{
    height: 10px;
    margin: 0;
    background-color: #217023;
  }
  .appointment-actions {
    display: flex;
    gap: 10px;
  }
  
  .appointment-actions button {
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'FiraGO';
    font-size: 14px;

  }
  
  .appointment-actions button:nth-child(1) {
    background-color: #1e6620;
    color: white;
  }
  
  .appointment-actions button:nth-child(2) {
    background-color: #a5352d;
    color: white;
  }
  
  .pending-status {
    color: orange;
  }
  
  .approved-status {
    color: rgb(43, 139, 43);
  }
  
  .declined-status {
    color: red;
  }


  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'FiraGO';

  }
  
  .filters label {
    font-family: 'FiraGO';
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    align-self: center;
  }
  
  .filters select,
  .filters input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'FiraGO';
    font-size: 14px;
  }
  
  .filters input[type="text"] {
    width: 190px;
  }
  
  .filters select {
    width: 150px;
  }
  
  @media (min-width: 861px) and (max-width: 1420px) {

    .appointments {
        grid-template-columns: repeat(3, 1fr);
    }
  }


  @media (max-width: 860px) {
    .appointments {
        grid-template-columns: repeat(2, 1fr);
    }

    .filters {
        flex-direction: column;
    }

    .filters label,
    .filters select,
    .filters input {
        width: 100%;
    }

    .filters label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filters input[type="text"],
    .filters select {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .appointments {
        grid-template-columns: 1fr;
    }

    .filters {
        gap: 10px;
    }

    .filters label,
    .filters select,
    .filters input {
        width: 100%;
    }

    .filters label {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filters input[type="text"],
    .filters select {
        width: 100%;
    }
}