<div class="main_content">
    <div class="contentwrapper">
        <!-- <div class="return-back">
            <button  (click)="Back()">უკან დაბრუნება   <img src="assets/turn-back.png"></button>
        </div> -->
        <div class="valute">
            <div class="drpdownhead">
                <span> აირჩეთ ვალუტა : </span>
            </div>
            <div class="dropdown">
                <select id="dropdown-select" class="dropbtn" [(ngModel)]="Currency">
                    <option value="usd"> USD-1 აშშ დოლარი</option>
                    <option value="eur"> EUR-1 ევრო</option>
                    <option value="gbp"> GBP-1 დიდი ბრიტანეთის გირვანქა სტერლინგი</option>
                    <option value="CHF"> CHF - 1 შვეიცარული ფრანკი</option>
                </select>
            </div>
        </div>
    </div>

    <app-currency-display [selectedCurrency]="Currency"></app-currency-display>
</div>