@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
}

.main_content {
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fbfcff;
}

.valute {
    margin: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vh;
}
.drpdownhead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: FiraGO;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.dropdown select {
    box-shadow: 15px 25px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 2px solid #274156;
    font-family: FiraGO;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    cursor: pointer;
}



.contentwrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.return-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.return-back button {
    cursor: pointer;
    font-family: 'FiraGO';
    padding: 15px;
    border: none;
    border-radius: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #18a5e13a;

    background-color: #18a5e13a;
}
hr{
    background-color: #053354;
}

.return-back button:hover {
    background-color: #18a5e170;
    border: 1px solid gray;
}

.return-back button img {
    width: 20px;
    height: auto;
}















@media (max-width: 576px) {
    .main_content {
        padding: 10px;
    }
    .contentwrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;

    }
    .return-back{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .valute {
        margin: 5vh 0;
        flex-direction: column;
        gap: 2vh;
    }
    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    .dropdown select {
        width: 80%;
        padding: 8px;
        font-size: 14px;
    }

    .search-btn {
        width: 90%;
        padding: 5px 20px;
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .main_content {
        padding: 20px;
    }
    .contentwrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;

    }
    .return-back{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .valute {
        margin: 5vh 0;
        flex-direction: column;
        gap: 2vh;
    }
    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

    .dropdown select {
        width: 70%;
        padding: 9px;
        font-size: 15px;
    }

    .search-btn {
        width: 90%;
        padding: 5px 30px;
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .main_content {
        padding: 20px;
    }
    .contentwrapper{
        font-size: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .return-back{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .valute {
        margin: 5vh 0;
        flex-direction: column;
        gap: 2vh;
    }
    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

    .dropdown select {
        width: 60%;
        padding: 9px;
        font-size: 15px;
    }

    .search-btn {
        width: 90%;
        padding: 5px 30px;
        font-size: 15px;
    }
}


