.user-page{
    padding: 20px;
    height: 750px;
}
.logutbtn button{
    background-color: #e29d9a80;
    border-radius: 5px;
    color: #053354;
    font-family: 'FiraGo';
    font-weight: 500;
    border:1px solid #e29d9a80;
    font-size: 16px;
    margin:0.5vh;
    padding:5px;
  }