
<img src="assets/17745.png">
<div class="login"  >
    <div class="loginpopup">
        <h2>მოგესალმებათ ძუნწ - ბანკთა <br> გაერთიანება</h2>
        <app-authorization></app-authorization>
        <div class="register-prompt">
            არ გაქვთ ანგარიში?
            <button type="button" (click)="navigateToRegister()">რეგისტრაცია</button>
            <p>მომხმარებელი/პაროლი:  user@mail.com / 123</p>
            <p>მომხმარებელი/პაროლი(ადმინი) : admin@mail.com  / 123</p>
        </div>
    </div>
</div>
