@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
}

.login{

    /* padding: 20px; */
    font-family: 'FiraGO';
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 750px;
    
}
img{
    width: 100%;
    height: 80svh;
    z-index: -1;
    position: absolute;
}

.loginpopup {
    width: 30%;

}
.loginpopup h2{

    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;
}


.register-prompt {
    margin-top: 40px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;

}

.register-prompt button {
    font-family: FiraGo;

    padding: 10px 15px;
    font-size: 16px;
    color: #ffff;
    border: none;
    border-radius: 1.3vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #28a745;
}

.register-prompt button:hover {
    background-color: #218838;
}
.register-prompt p{
    font-family: FiraGo;
    background-color: #ffff;
    color: #000000;
    font-size: 13px;
    font-weight: 900;
    text-shadow: none;

}


@media (max-width: 576px) {

    .loginpopup{
        width: 98%;

    }


    .loginpopup h2{
        font-size: 22px;
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;
    }
    

  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .loginpopup{
        width: 80%;

    }
}

    @media (min-width: 768px) and (max-width: 1200px) {
        .loginpopup{
            width:65%;
    
        }
  
}